*{
    box-sizing:border-box ;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--bg);
}
.login-card,.register-card{
    background-color: var(--card);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

h1{
    color: var(--text);
    margin: 10px;
}

h2{
    color: var(--subtext);
    margin: 10px;
}

input{
    border: var(--border);
    padding: 10px;
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;
}

.submit-button{
    width:100%;
    margin: 15px auto;
    border-radius: 10px;
    border: var(--border) 1px solid;
    background-color: var(--primary);
    padding: 10px;
}

button:hover{
    transform: scale(1.05);
}

a{
    width: 100%;
    text-align: center;
    color: var(--subtext);
}

a:hover{
    transform: scale(1.05);
}

.error-message{
    display: none;
}

.show{
    display: block;
}



:root {
  --bg: #0F172A;
  --card: #1E293B;
  --primary: #38BDF8;
  --text: #E2E8F0;
  --subtext: #94A3B8;
  --border: #334155;
}